@import "Activitypage.css";
@import "Nav.css";
@import "Activities.css";
@import "Admin.css";

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.login-page {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main_image{
  width: 60vw;
  min-width: 300px;
}
.ant-btn.login-page_login-button {
  margin-right: 30px;
  height: 40px;
  width: 90px;
  color: white;
  letter-spacing: 0.05em;
  font-weight: bold;
  background: #157774;
}

.main-container{
  margin-top: 200px;
}

.link {
  color: gray;
}

.my-collapsible__toggle {
  font-size: 1rem;
  color: black;
  font-weight: bold;
  box-shadow: 0px 2px 2px gray;
  background: #F9B50F;
  margin-bottom: 20px;
  border-radius: 5px;
  min-width: 200px;

}
.my-collapsible__content {
  overflow: hidden;
  width: 100%;
  margin-bottom: 20px;
}

.my-collapsible__content-inner {
  padding: 1rem;
  background-color: #F9B50F;
  border-radius: 10px;
  width: 450px;
  height: 80px;
}

.number {
  font-variant-numeric: tabular-nums;
  min-width: 3em;
  display: inline-block;
  text-align: left;
}
.datePicker_form{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
}

button.ant-btn.datePicker_button {
    background-color: #157774;
    border-color: #157774;
    color: white;
    font-weight: bold;
    width: 100px;
    height: 35px;
    box-shadow: 0px 2px 2px grey;
}

input.ant-input.hours_form {
    width: 60%;
}


.my-collapsible {
    display: flex;
    flex-direction: column;
    align-items: center;
}



div.ant-col.ant-form-item-control-wrapper.ant-col-xs-24.ant-col-sm-16 {
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
}


.ant-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.radio_style {
  display: flex;
  flex-wrap: wrap-reverse;
}

.ant-checkbox-wrapper{
  color: white;
  font-weight: bold;
}
.text_schedule_form{
  color: #4E2E7A;
  font-size: 20px;
}
