.navbar {
  width: 100%;
  background: white;
  padding: 0 10px;
  position: fixed; 
  top: 0;
  z-index:2;
  display: flex;
  justify-content: flex-end;
}
.navbar_left{
  flex-grow:1;
}
.navbar_logo {
  padding: 20px;
  min-width: 100px;
  width: 9vw;
}
.navbar_right{
  display: flex;
  align-items: center;
}

.navbar_schedule{
  font-size:1.1em;
  font-weight: bold;
  margin:5px;
  width: 10vw;
  min-width:90px;
  height: 4vw;
  min-height:40px;
  text-align: center;
  vertical-align: middle;
  line-height:4vw;
  color:#666666;
  
}

.navbar_complete{
  font-size:1.1em;
  font-weight: bold;
  margin:5px;
  width: 10vw;
  min-width:160px;
  height: 4vw;
  min-height:40px;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
  line-height:4vw;
  color:#666666;

 
}

.navbar_logout {
  font-size:1em;
  width: 8vw;
  min-width:90px;
  height: 3vw;
  min-height:40px;
  margin:5px;
  margin-left: 4vw;
  color: white;
  letter-spacing: 0.05em;
  font-weight: bold;
  border-radius: 5px;
  background: #157774;
}